<div class='center-block'>
  <app-card [title]='title' [subtitle]='subtitle'>
    <form [formGroup]='form' (ngSubmit)="login()" class='form'>
      <div class='inner-form'>
        <h3>Is Auth ? {{isAuth$ | async}}</h3>
        <div [style]='store$ | async' hidden='true'></div>
        <mat-form-field class="full-width">
          <input matInput type="text" matInput formControlName='email' placeholder="Your email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [type]="type ? 'text' : 'password'" matInput formControlName='password' placeholder="Password">
          <span matSuffix (click)="type = !type">
            <mat-icon>visibility</mat-icon>
          </span>
        </mat-form-field>
        <button mat-raised-button color='primary' type='submit'> Confirm</button>
        <ng-template [ngIf]='!additional'>
          <div class='community-links' (click)='additional = !additional'>
            <span>
              Via other community services ?
            </span>
          </div>
        </ng-template>
        <ng-template #tmp>
          <h1>Data in template </h1>
        </ng-template>
        <div #container></div>
      </div>

    </form>
  </app-card>
</div>
<ng-template [ngIf]='additional'>
  <div class='box-90'>
    <app-card>
      <div class='flex-block-buttons'>
        <!-- TODO: 
          Create verify buttons -->


        <button mat-raised-button (click)='googleRegister()'>
          <i class='fa fa-google'></i>
          Google
        </button>


        <button mat-raised-button (click)='facebookRegister()'>
          <i class='fa fa-facebook'></i>
          Facebook
        </button>

        <button mat-raised-button (click)='githubRegister()'>
          <i class='fa fa-github'></i>
          Github
        </button>


        <button mat-raised-button (click)='twitterRegister()'>
          <i class='fa fa-twitter'></i>
          Twitter
        </button>


      </div>
    </app-card>

  </div>

</ng-template>