<div class='center-block'>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Register </mat-card-title>
      <mat-card-subtitle>Create new user</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="login()" class='form'>
        <mat-form-field class="full-width">
          <input matInput type="text" matInput name='name'>
        </mat-form-field>



        <mat-form-field class="full-width">
          <input matInput type="text" matInput name='name'>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="text" matInput name='name'>
        </mat-form-field>



        <mat-form-field class="full-width">
          <input matInput type="text" matInput name='email'>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="text" matInput name='password1'>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="text" matInput name='password2'>
        </mat-form-field>
        <button mat-raised-button (click)='login()' color='primary'>Confirm</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>